:root {
    --primaria: rgb(221, 181, 0);
}

html {
    font-family: 'Inter';
    background-color: #232323;
    color: white;
}

@font-face {
    font-family: 'Inter';
    src: url('/Inter.ttf') format('truetype');
}

small {
    font-size: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 200;
}

.logo h2 {
    margin: 0;
    color: var(--primaria);
    font-size: 40px;
    font-weight: 1000;
}

.logo img {
    width: 30px;
    margin-right: 1rem;
}

.header {
    position: fixed;
    background-color: #181818;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.alertaTemporario {
    position: fixed;
    text-align: center;
    margin: 1rem;
    top: 0%;
    right: 0;
    border-radius: 10px;
    font-size: 12px;
    background-color: #009b00;
    padding: 0.7rem;
    width: 20%;
    z-index: 1000;
}

#contaBloco {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 5rem;
}

.slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.slogan h2 {
    font-size: 16px;
    font-weight: 400;
}

#contaBloco label {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.conta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    gap: 10px;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.conta input {
    width: 120px;
    font-family: 'Inter';
    text-align: center;
    margin-left: 0.6rem;
    padding: 5px;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px var(--primaria);
    color: white;
}

.conta input:focus {
    outline: none;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.clipboard {
    border: none;
    background-color: transparent;
}

.clipboard img {
    vertical-align: middle;
    width: 15px;
}

.clipboard :hover {
    opacity: 60%;
    transition: 300ms;
    cursor: pointer;
}

.acoes {
    margin: 1.5rem 0;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.acoes button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: 'Inter';
    border: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: #383838;
    padding: 6px 2rem;
    border-radius: 8px;
}

.acoes button:hover {
    background-color: var(--primaria);
    transition: 500ms;
    cursor: pointer;
}

.acoes img {
    width: 13px;
}

.botoes a {
    background-color: #006eff;
    color: white;
    font-weight: 800;
    font-size: 13px;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
}

.botoes a:hover {
    filter: brightness(70%);
    transition: 600ms;
    cursor: pointer;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

#excluir {
    font-family: 'Inter';
    border: none;
    text-transform: uppercase;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background-color: #232323;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
}

#excluir:hover {
    background-color: #800000;
    transition: 300ms;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .logo h1 {
        font-size: 30px;
    }

    .logo h2 {
        font-size: 30px;
    }

    .logo img {
        width: 20px;
    }

    .alertaTemporario {
        top: 20%;
        right: 0;
        left: 0;
        background-color: #009b00;
        width: auto;
    }

    #contaBloco {
        margin: 0 2rem;
    }

    .conta input {
        width: 100px;
    }

    .acoes button {
        padding: 6px 1.5rem;
    }

    #excluir {
        padding: 5px 8px;
    }

    .header small {
        display: none;
    }
    
    #contaBloco {
        margin: 0;
    }
}