:root {
    --primaria: rgb(221, 181, 0);
}

html {
    font-family: 'Inter';
    background-color: #232323;
    color: white;
}

@font-face {
    font-family: 'Inter';
    src: url('/Inter.ttf') format('truetype');
}

small {
    font-size: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 200;
}

.logo h2 {
    margin: 0;
    color: var(--primaria);
    font-size: 40px;
    font-weight: 1000;
}

.logo img {
    width: 30px;
    margin-right: 1rem;
}

.header {
    position: fixed;
    background-color: #181818;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.alertaTemporario {
    position: fixed;
    text-align: center;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);

    font-size: 12px;
    background-color: #008000;
    padding: 0.7rem;
    width: 100%;
    z-index: 1000;
}

#contaBloco {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contaBloco h2 {
    font-size: 16px;
    font-weight: 400;
}

#contaBloco label {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.conta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    padding: 1rem;
    margin: 0.3rem;
}

.conta input {
    width: 120px;
    font-family: 'Inter';
    text-align: center;
    margin-left: 0.3rem;
    padding: 5px;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px var(--primaria);
    color: white;
}

.conta input:focus {
    outline: none;
}

.conta div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conta div div:first-child {
    flex-direction: row;
    height: 10px;
}

.excluir {
    font-family: 'Inter';
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #232323;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.excluir:hover {
    background-color: #800000;
    transition: 300ms;
    cursor: pointer;
}

.clipboard {
    border: none;
    background-color: transparent;
}

.clipboard img {
    vertical-align: middle;
    width: 15px;
}

.clipboard :hover {
    opacity: 60%;
    transition: 300ms;
    cursor: pointer;
}

.acoes {
    margin: 1.5rem 0;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.acoes button {
    font-family: 'Inter';
    border: none;
    text-transform: uppercase;
    font-weight: 1000;
    color: rgb(255, 255, 255);
    background-color: rgb(56, 56, 56);
    padding: 6px 2rem;
    border-radius: 8px;
}

.acoes button:hover {
    background-color: var(--primaria);
    transition: 500ms;
    cursor: pointer;
}